<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
BoardEx01
jQurey,AJax,spring prame
회원가입 아이디 중복검사, 영문만
로그인 아이디 비밀번호 검증
로그인 완료 메세지 > ㅁㅁ님이 로그인하였습니다 > 첫화면
유저에게만 보이는 글쓰기버튼
제목 내용 첨부파일
완료시 보기 페이지
첨부파일 클릭시 다운로드
내 게시글은 수정,삭제버튼
댓글
로그인시 댓글 작성라인
내 댓글은 삭제버튼
페이징, 댓글 수 , 조회수

2. DB설계 > erd > 구문작성
3. include 공통부분 합산

0827
BoardEx04
1.input 요소 이름 달기 (전송되는 이름 통일)
required 표준이 아님 보통 사용하지 않음
2.ui구현
focus, validation(유효성체크)
이벤트리스너,핸들러

백엔드 구현
2.누락값체크 리다이렉트
1.인코딩변환
3.잘 받아지는지 확인 임시코드작성
String[] s = getParameterValues("s");

3.5. 
아이디 중복검사

4.회원데이터 DB에 전송
객체생성, 구문작성
데이터암호화: select hex(aes_encrypt('원문','키'));
데이터복호화: select aes_decrypt(unhex('암호문'),'키');
select md5('원문');

5. 로그인세션구현
index.jsp 표시 수정
logout.jsp 구현

session.invalidate();





비고. 첨부파일
<!-- 
    <br>
    <a href="down.jsp?uuid=<%= bpname %>&name=<%= bfname %>">내려받기</a>
    <br>
    <img src="down.jsp?uuid=<%= bpname %>&name=<%= bfname %>">
style="" -->














SpringEx14





----------------게시물------------------
백엔드
vo
service
	로그인
	아이디 체크
boardservice
	게시물 정보 등록
		매퍼 -> insert -> 게시물 번호 자동 생성값(usegeneratekeys,키변수=no
		첨부파일 등록 nulll처리 (if문 사용 가능)
        testcontroller 프론트에서 값이 넘어온다 가정하고 테스트
	단건 조회(읽기)
	
	페이징
	전체 게시물 개수
	게시물 목록
	
	게시물 정보 변경
	게시물 삭제 -> 댓글 모두 지운후 게시글 삭제처리
	

	댓글
	등록
	목록조회
	삭제
	(수정)
	
(실무에선 매퍼를 나눠서 사용하는 경우가 많다 mapper.reply, mapper.board


SearchVO 
    필요에 의해 수정
    -> 페이징도 같이 관리

controller로 자료를 관리하는걸 핸들링

</body>
</html>