<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
BoardEx01
jQurey,AJax,spring prame
회원가입 아이디 중복검사, 영문만
로그인 아이디 비밀번호 검증
로그인 완료 메세지 > ㅁㅁ님이 로그인하였습니다 > 첫화면
유저에게만 보이는 글쓰기버튼
제목 내용 첨부파일
완료시 보기 페이지
첨부파일 클릭시 다운로드
내 게시글은 수정,삭제버튼
댓글
로그인시 댓글 작성라인
내 댓글은 삭제버튼
페이징, 댓글 수 , 조회수

2. DB설계
3. include



비고. 첨부파일
<!-- 
    <br>
    <a href="down.jsp?uuid=<%= bpname %>&name=<%= bfname %>">내려받기</a>
    <br>
    <img src="down.jsp?uuid=<%= bpname %>&name=<%= bfname %>">
style="" -->
</body>
</html>